@import url("https://fonts.google.com/specimen/Barlow+Semi+Condensed");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 13px;
  font-weight: 300px;
}

body {
  background: #ecf2f8;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  line-height: 1.5;
}

main {
  display: grid;
  max-width: 1300px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, min-content);
  grid-gap: 20px;
}

main .card {
  border-radius: 10px;
  padding: 30px 40px;
}

main .card img {
  border-radius: 100%;
  border: 2px solid rgba(255, 255, 255, 0.5);
  width: 32px;
  height: 32px;
}

main .card .info-user {
  display: flex;
  align-items: center;
}

main .card .info-user .details {
  margin-left: 20px;
}

main .card .info-user .details .verified {
  opacity: 0.5;
}

main .card .description1 {
  font-size: 20px;
  font-weight: 600;
  margin: 20px 0;
}

main .card .description2 {
  opacity: 0.7;
}

main .card:nth-child(1) {
  grid-column: 1/3;
  background-color: #7541c8;
  background-image: url("../images/bg-pattern-quotation.svg");
  background-repeat: no-repeat;
  background-position: 80% 0;
}

main .card:nth-child(2) {
  background-color: #48556a;
  grid-column: 3/4;
}

main .card:nth-child(3) {
  background-color: white;
  color: #000;
  grid-row: 2/3;
  grid-column: 1/2;
}

main .card:nth-child(4) {
  background-color: #19212e;
  grid-row: 2/3;
  grid-column: 2/4;
}

main .card:nth-child(5) {
  background-color: white;
  color: #000;
  grid-row: -1/1;
  grid-column: 4/5;
}

@media (max-width: 1024px) {
  main {
    margin: 20px;
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    grid-template-rows: minmax(auto, auto);
  }
  .card {
    grid-column: unset !important;
    grid-row: unset !important;
  }
}
