// PRIMARY
$moderateviolet: hsl(263, 55%, 52%);
$verydarkgrayishblue: hsl(217, 19%, 35%);
$verydarkblackishblue: hsl(219, 29%, 14%);
$white: hsl(0, 0%, 100%);

// NEUTRAL
$lightgray: hsl(0, 0%, 81%);
$lightgrayishblue: hsl(210, 46%, 95%);

// RESET
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 13px;
  font-weight: 300px;
}

// FONT
@import url("https://fonts.google.com/specimen/Barlow+Semi+Condensed");
