@import "config";

body {
  background: $lightgrayishblue;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  line-height: 1.5;
}

main {
  display: grid;
  max-width: 1300px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, min-content);
  grid-gap: 20px;

  .card {
    border-radius: 10px;
    padding: 30px 40px;

    img {
      border-radius: 100%;
      border: 2px solid hsla(0, 0%, 100%, 0.5);
      width: 32px;
      height: 32px;
    }
    .info-user {
      display: flex;
      align-items: center;

      .details {
        margin-left: 20px;

        .verified {
          opacity: 0.5;
        }
      }
    }
    .description1 {
      font-size: 20px;
      font-weight: 600;
      margin: 20px 0;
    }
    .description2 {
      opacity: 0.7;
    }
  }

  .card:nth-child(1) {
    grid-column: 1/3;
    background-color: $moderateviolet;
    background-image: url("../images/bg-pattern-quotation.svg");
    background-repeat: no-repeat;
    background-position: 80% 0;
  }
  .card:nth-child(2) {
    background-color: $verydarkgrayishblue;
    grid-column: 3/4;
  }
  .card:nth-child(3) {
    background-color: $white;
    color: #000;
    grid-row: 2/3;
    grid-column: 1/2;
  }
  .card:nth-child(4) {
    background-color: $verydarkblackishblue;
    grid-row: 2/3;
    grid-column: 2/4;
  }
  .card:nth-child(5) {
    background-color: $white;
    color: #000;
    grid-row: -1/1;
    grid-column: 4/5;
  }
}

@media (max-width: 1024px) {
  main {
    margin: 20px;
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    grid-template-rows: minmax(auto, auto);
  }
  .card {
    grid-column: unset !important;
    grid-row: unset !important;
  }
}
